#container{
    display: flex;
    justify-content: center;
    /* width: 70vw; */
    /* align-items: center; */
    /* height: 100vh; */
}

#weekdays{
    display: flex;
    width: 70vw;
    /* margin: 3px; */
    justify-content: space-around;
    /* align-items: ; */
    border: 1px solid red;
}

.daySquer{
    
}